adf-olist/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-olist"
		},
		"ls_databricks_olist_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'ls_databricks_olist'"
		},
		"ls_adls_olist_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stolistlakehouse.dfs.core.windows.net"
		},
		"ls_databricks_olist_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1205-195430-mtytj2jr"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ls_adls_olist')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adls_olist_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_databricks_olist')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3219650798200858.18.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('ls_databricks_olist_accessToken')]"
					},
					"existingClusterId": "[parameters('ls_databricks_olist_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_bronze_config')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_olist",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "datasets.json",
						"folderPath": "config",
						"fileSystem": "olist"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_olist')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_bronze_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_olist",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileSystem": {
						"type": "string",
						"defaultValue": "olist"
					},
					"Directory": {
						"type": "string",
						"defaultValue": "bronze"
					},
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Directory",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().FileSystem\n",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_olist')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_bronze_source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_olist",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folderPath": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().folderPath",
							"type": "Expression"
						},
						"fileSystem": "olist"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_olist')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_bronze_ingest')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_to_bronze",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_bronze_source",
								"type": "DatasetReference",
								"parameters": {
									"folderPath": "@pipeline().parameters.p_SourceDirectory",
									"fileName": "@pipeline().parameters.p_SourceFileName"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_bronze_sink",
								"type": "DatasetReference",
								"parameters": {
									"FileSystem": "@pipeline().parameters.p_FileSystem",
									"Directory": "@concat(   'bronze/',   pipeline().parameters.p_SinkDirectory,   '/ingest_date=',   formatDateTime(utcNow(), 'yyyy-MM-dd') )",
									"FileName": "@pipeline().parameters.p_SinkFileName"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_FileSystem": {
						"type": "string"
					},
					"p_SourceDirectory": {
						"type": "string"
					},
					"p_SourceFileName": {
						"type": "string"
					},
					"p_SinkDirectory": {
						"type": "string"
					},
					"p_SinkFileName": {
						"type": "string"
					}
				},
				"variables": {
					"FileList": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_bronze_source')]",
				"[concat(variables('factoryId'), '/datasets/ds_bronze_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_bronze_controller')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get_config",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_bronze_config",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "for_each_dataset",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get_config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get_config').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "run_single_ingest",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_bronze_ingest",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"p_FileSystem": {
												"value": "@item().fileSystem\n",
												"type": "Expression"
											},
											"p_SourceDirectory": {
												"value": "@item().sourceDirectory\n",
												"type": "Expression"
											},
											"p_SourceFileName": {
												"value": "@item().sourceFileName\n",
												"type": "Expression"
											},
											"p_SinkDirectory": {
												"value": "@item().sinkDirectory\n",
												"type": "Expression"
											},
											"p_SinkFileName": {
												"value": "@item().sinkFileName\n",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_bronze_config')]",
				"[concat(variables('factoryId'), '/pipelines/pl_bronze_ingest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_e2e_controller')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pl_bronze_controller",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_bronze_controller",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "_silver_runner",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "pl_bronze_controller",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/durgesh_m@protonmail.com/olist-azure-lakehouse/notebooks/02_silver/_silver_runner"
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_olist",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "_gold_runner",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "_silver_runner",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/durgesh_m@protonmail.com/olist-azure-lakehouse/notebooks/03_gold/_gold_runner"
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_olist",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_bronze_controller')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_databricks_olist')]"
			]
		}
	]
}